<h1 class="container__h1">Teacher</h1>
<nav class="container__nav">
  <a class="container__a">Teachers</a>
</nav>
<%= link_to 'Add',  new_admin_teacher_path , :class=>'button' %>
<% if @teachers.empty? %>
    <p class="seznam__warning">Teachers are empty</p>
<% else %>
    <p class="seznam__a seznam__a-header">first_name last_name: email</p>
    <ul class="seznam">
      <% @teachers.each do |teacher| %>
          <li class="seznam__li">
            <%= link_to "#{teacher.first_name} #{teacher.last_name}: (#{teacher.email})", '', :class=>"seznam__a" %>
            <%= link_to 'Edit', edit_admin_teacher_path(teacher), :class=>"seznam__a seznam__a-right" %>
            <%= link_to 'Destroy', [:admin, teacher], method: :delete, data: { confirm: 'Are you sure?' }, :class=>"seznam__a seznam__a-end" %>
          </li>
      <% end %>
    </ul>
<% end %>