<h1 class="container__h1">Seznam Budov</h1>
<nav class="container__nav">
  <a class="container__a">Seznam Budov</a>
</nav>
<% if @buildings.empty? %>
    <p class="seznam__warning">Neexistují žádné budovy</p>
<% else %>
<ul class="seznam">
  <% @buildings.each do |building| %>
    <li class="seznam__li">
      <%= link_to building.title, building, :class=>"seznam__a" %>
    </li>
  <% end %>
</ul>
<% end %>