<h1 class="container__h1">Seznam Budov</h1>
<nav class="container__nav">
  <a class="container__a">Seznam Budov</a>
</nav>
<ul class="seznam">
  <% @rooms.each do |room| %>
      <li class="seznam__li">
        <%= link_to room.title, room, :class=>"seznam__a" %>
      </li>
  <% end %>
</ul>
