.container {
  width: 80%;
  margin: auto;
  @at-root #{&}__h1 {
    margin-bottom: 5px;
  }
  @at-root #{&}__nav {
    display: flex;
    margin-bottom: 20px;
  }
  @at-root #{&}__item {
    margin: 0 7px 0 0;
  }
}