<h1 class="container__h1">Kurzy</h1>
<nav class="container__nav">
  <a class="container__a">Kurzy</a>
</nav>
<%= link_to 'Add',  new_admin_course_path , :class=>'button' %>
<p class="seznam__a seznam__a-header">Název kurzu (kód): Jazyk Typ studia</p>
<ul class="seznam">
  <% @courses.each do |course| %>
      <li class="seznam__li">
        <%= link_to "#{course.title} (#{course.code}): #{course.language} #{course.study_type}", '', :class=>"seznam__a" %>
        <%= link_to 'Edit', edit_admin_course_path(course), :class=>"seznam__a seznam__a-right" %>
        <%= link_to 'Destroy', [:admin, course], method: :delete, data: { confirm: 'Are you sure?' }, :class=>"seznam__a seznam__a-end" %>
      </li>
  <% end %>
</ul>